<!DOCTYPE html>
<html>
  <head>
    <title>Audio Chat</title>
    <style>
      .engaged {
        font-weight: bold;
        color: red;
      }
    </style>
  </head>
  <body>
    <h2 id="username"></h2>
    <button id="releaseMicBtn" disabled>Release Mic</button>
    <ul id="usersList"></ul>
    <audio id="remoteAudio" autoplay="true"></audio>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
